.page-header {
  margin: 10px 0 40px 0px;
  // background-color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;

  grid-column-gap: 10px;
  grid-template-areas:
    "sidebar main";
  // background-color: gray;
  margin-bottom: 20px;
}

.sidebar {
  height: 100%;
  grid-area: sidebar;
  // background-color: red;
}

.profile {
  margin-bottom: 50px;
}

.med-list {
}

.main {
  grid-area: main;
  margin-bottom: 20px
}

.log-form {
  margin-bottom: 30px;
  // background-color: blue;
}


.recent-logs {
  // background-color: blue;
}

.log-list {
  margin: 20px 0 20px 0;
  text-align: left;
}

.input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}

.ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.li {
  color: #666;
  strong { color: #000; }
  + .label { margin-top: 1rem; }
  &.label {
    color: #CCC;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.0125em;
    margin-bottom: 0.25rem;
  }
}
