<% flash.each do |type, message| %>
  <% if type == "warning" %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% else %>
    <%= message %>
  <% end %>
<% end %>
