<div class="log-list">
  <% if current_user.logs.empty? %>
    <p>You have not yet recorded any symptoms.</p>
  <% else %>
    <% logs.each do |log| %>
      <div class="row log">
        <p class="col symptom"><%= log.symptom.description %></p>
        <p class="col when"><%= log.when %></p>
        <p class="col note"><%= log.note %></p><br>
      </div>
    <% end %>
    <div class="row">
      <a href="/logs" class="btn btn-link">See All Logs</a>
    </div>
  <% end %>
</div>
