<h1>All Medications</h1>
<br>
<% @medications.each do |medication| %>
  <section class="medications">
    <p><%= medication.brand_name %><p>
    <p><%= button_to 'Delete', '/medications/delete', params: {id: medication.id, name: medication.brand_name, product_ndc: medication.product_ndc}, method: :delete %>
  </section>
<% end %>
