<h1>All Medications</h1>
<%= render partial: '/partials/flash' %>
<p><a href="/medications/new" class="btn btn-primary">Add New Medication</a>
<br>
<% @medications.each do |medication| %>
  <section class="medications">
    <p><%= medication.brand_name %><p>
    <p><%= button_to 'Delete', '/medications/delete', params: {id: medication.id, brand_name: medication.brand_name, product_ndc: medication.product_ndc}, method: :delete %>
  </section>
<% end %>
