<div class="container">

  <div class="page-header">
    <h3>Add New Medication</h3>
  </div>
  <%= render partial: '/partials/flash' %>
  <div class="section">
    <div class="page-options">
      <a href="/dashboard" class="btn btn-outline-primary">Back to Dashboard</a>
    </div>

    <div class="form-group">
      <%= form_tag "/medications/search", method: :get do %>
      <div class="form-row">
        <div class="col-md-10">
          <%= text_field_tag :brand_name, nil, placeholder: "Enter medication brand name...", class: "form-control" %>
        </div>
        <div class="col-md-1">
          <%= submit_tag "Find Medication", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
