<div class="container">

  <div class="page-header">
    <h3>Add New Medication</h3>
  </div>
  <%= render partial: '/partials/flash' %>
  <div class="section">
    <div class="page-options">
      <a href="/dashboard" class="btn btn-outline-primary">Back to Dashboard</a>
    </div>
    <form class="med-form">
      <%= form_tag "/medications/search", method: :get do %>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Search for medication.." name="brand_name" id="brand_name">
          </div>
          <div class="col">
            <%= submit_tag "Find Medication", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </form>
  </div>
</div>
