<h4>Please select the correct medication brand name</h4>
<section class='medications'>
  <% @med_results.each do |med| %>
    <p><%= button_to "#{med.brand_name}", '/medications/create', params: {brand_name: med.brand_name, product_ndc: med.product_ndc}, method: :post %>
  <% end %>
</section>
<br>
<%= button_to 'New Search', medications_new_path, method: :get, class: "btn btn-primary" %>
