<!-- welcome/index.html.erb -->
<div class="center">
  <h1>Welcome to MSET</h1>
</div>
<p>Hello. I am your virtual pharmaceutical friend.</p>
<%= button_to 'Get Started with Google Login', '/auth/google_oauth2', method: :get %>
